body {
  font-family: sans-serif;
  margin: 0;
}

.button {
  &.disabled {
    color: #aaa;
    cursor: default;

    &:hover {background-color: white;}
  }

  color: black;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  margin: 0 5px;
  border: 1px solid #eee;
  border-radius: 3px;
  font-size: 1em;
  background-color: white;

  &:hover {
    background-color: #eee;
  }
}

.logo {
  background: #52DA52;
  padding: 5px;
  overflow: hidden;

  .logoText {
    cursor: default;
    font-size: 18px;
    color: white;
    font-style: italic;
    font-weight: bold;
    float: left;
    line-height: 30px;
  }

  .uploadButton {
    float: right;
  }
}

.modalContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1050;
  overflow: hidden;
  background-color: rgba(1, 1, 1, 0.3);

  .modalDialog {
    width: 500px;
    background-color: white;
    margin: 30px auto;
    padding: 10px;

    .modalTitle {
      overflow: hidden;
      margin-bottom: 10px;
      border-bottom: 1px solid #eee;

      h4 {
        float: left;
        font-size: 18px;
        margin: 0 0 10px 0;
      }

      .close {
        float: right;

        a {
          text-decoration: none;
          color: #aaa;

          &:hover {color: #000;}
        }
      }
    }
  }
}

.hidden {display: none;}

.previewImage {
  img {max-height: 200px;}
}

.container {
  margin: 10px;
}

.header .goBackButton {margin-left: 10px;}

.gallery {
  .galleryThumb {
    display: inline-block;
    border: 2px solid #F3C5EF;
    margin: 10px;
    padding: 10px;
    width: 150px;
    min-height: 230px;
    vertical-align: top;

    transition: border-color 0.2s;
    -webkit-transition: border-color 0.2s;

    &:hover {border-color: #F142E4;}
  }
}

.imagePage {
  .detailImage {
    max-width: 500px;
    max-height: 500px;
  }
}

.tagsControl {
  .tagContainer {
    margin: 5px;
    background-color: #2041B7;
    display: inline-block;
    border-radius: 10px;
    color: white;

    a {
      text-decoration: none;
      color: white;
    }

    .tag {
      display: inline-block;
      padding: 5px;
    }

    .removeTag {
      cursor: pointer;
      display: inline-block;
      padding: 5px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      &:hover {background-color: #FF006A;}
    }
  }

  .addTagInput {
    font-size: 16px;
    margin-left: 5px;
    position: relative;
    top: 1px;
    width: 200px;
  }

  &.noRemoval .removeTag {display: none;}

}

