<!DOCTYPE html>
<html>
  <head>
    <title>PepeHub</title>
    <link rel="stylesheet" type="text/css" href="build/styles/root.css" />
  </head>
  <body>
    <div id="container">
    </div>
    <script type="text/javascript" src="build/scripts/bundle.js"></script>
    <script type="text/javascript">
      window.renderPage(document.getElementById('container'));
    </script>
  </body>
</html>
