<!DOCTYPE html>
<html>
  <head>
    <title>PepeHub</title>
    <link rel="stylesheet" type="text/css" href="build/styles/root.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <div id="render" class="container">
    </div>
    <script type="text/javascript" src="build/scripts/bundle.js"></script>
    <script type="text/javascript">
      window.startApp();
    </script>
  </body>
</html>
